.album{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: grid;
    top: 37%;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 2rem;
    z-index: 199;
    .pic{
        cursor: pointer;
        img{
            width: 270px;
            height: 370px;
        }
    }
    .pic:nth-child(2){
        opacity: 0;
    }

    @for $x from 1 through 9{
        $scale: random(3)+8;
        .pic:nth-child(#{$x}){
            margin-left: random(3)+1rem;
            margin-top: random(3)+1rem;
            margin-right: random(3)+1rem;
            transform: scale( $scale / 10);
        }
    }
}